body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    overflow: clip;
}
h2{
    margin: 0;
    font-weight: 400;
}
.links{
    display: flex;
    justify-content: space-around;

}

/* #home, .red{background-color: rgb(244,67,54);}
#about, .green{background-color: #4caf50;}
#develop, .blue{background-color: #2196f3;}
#contacts, .orange{background-color: #FF5722;} */

.tab_link{
    text-align: center;
    width: 100%;
    padding: 20px 0;
    cursor: pointer;
    font-size: 20px;
}
.tab_color{
    background-color: rgba(238, 238, 238, 1);
}

.tab_link:hover,
.tab_link.active{
    background-color: rgb(223, 223, 223);
}

.contents{
    margin: 0;
}
.tab_content{
    padding: 30px 0 100px 30px;
    height: 100vh;
    overflow: clip;

}

 #home {background-color: red;}
 #about {background-color: green;}
 #develop {background-color: blue;}
 #contacts {background-color: orange;}